th, td, p {
  font-family:times new roman;
}
.con {width:1000px; height:auto; margin:auto;text-align:center;font-family:times new roman;}
.con2 {width:600px; height:auto; margin:auto;text-align:center;display:flex;}
.fle {width:calc(16%);}


.whi {color:#9999cc;font-weight:bold;font-family:times new roman;}
.pin {color:#6699ff;font-weight:bold;font-family:times new roman;}
.lar {color:#787878;font-weight:bold;font-family:times new roman;}
.cro {color:#ff6699;font-weight:bold;font-family:times new roman;}
.wil {color:#6abcde;font-weight:bold;font-family:times new roman;}
.pop {color:#669966;font-weight:bold;font-family:times new roman;}
.whi2 {color:#9999cc;font-family:times new roman;}
.pin2 {color:#6699ff;font-family:times new roman;}
.lar2 {color:#787878;font-family:times new roman;}
.cro2 {color:#ff6699;font-family:times new roman;}
.wil2 {color:#6abcde;font-family:times new roman;}
.pop2 {color:#669966;font-family:times new roman;}
