.con {width:1000px; height:auto; margin:auto;text-align:center;}
.con2 {width:600px; height:auto; margin:auto;text-align:center;display:flex;font-family:times new roman;}
.fle {width:calc(16%);}


.whi {color:#9999cc;font-weight:bold;}
.pin {color:#6699ff;font-weight:bold;}
.lar {color:#787878;font-weight:bold;}
.cro {color:#ff6699;font-weight:bold;}
.wil {color:#6abcde;font-weight:bold;}
.pop {color:#669966;font-weight:bold;}
.whi2 {color:#9999cc;}
.pin2 {color:#6699ff;}
.lar2 {color:#787878;}
.cro2 {color:#ff6699;}
.wil2 {color:#6abcde;}
.pop2 {color:#669966;}
